/*reset*/
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

/* fonts */
/*fonts*/
/*color-theme*/
/*max-block-width*/
html {
  font-family: Roboto, sans-serif;
  font-size: 1rem;
}

h1 {
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0.8) !important;
}

h2 {
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.8) !important;
  text-align: center;
}

h3 {
  font-size: 1.3rem;
}

p, code {
  font-size: 1rem;
}

/*fonts*/
/*color-theme*/
/*max-block-width*/
/* animations */
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 0.1s;
  animation-duration: 0.1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fadeIn {
  opacity: 0;
  -webkit-animation: fadeIn ease-in 0.2s;
  -moz-animation: fadeIn ease-in 0.2s;
  animation: fadeIn ease-in 0.2s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 0.2s;
  -moz-animation-duration: 0.2s;
  animation-duration: 0.2s;
}

.fadeIn.first {
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  animation-delay: 0s;
}

.fadeIn.second {
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.fadeIn.third {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.fadeIn.fourth {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

/* Simple CSS3 Fade-in Animation */
.underlineHover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #EE8B00;
  content: "";
  transition: width 0.2s;
}

.underlineHover:hover:after {
  width: 100%;
}

/*fonts*/
/*color-theme*/
/*max-block-width*/
body {
  margin: 0;
  font-family: Roboto, sans-serif;
  background-color: #ffffff;
}

a,
a:hover {
  color: #4b4b4b !important;
  text-decoration: none !important;
}

p {
  color: rgba(0, 0, 0, 0.6) !important;
}

/* header */
.header {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.05);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}

li {
  margin: 0;
  padding: 0;
  display: inline;
  list-style: none;
  background-color: #fff;
  padding: 0;
  margin: 20px 20px;
}

.nav-list li a {
  display: block;
  text-decoration: none;
}

.button {
  background-color: #EE8B00;
  border: none;
  color: white;
  padding: 10px 25px !important;
  margin-top: 10px;
  margin-right: 20px;
  margin-left: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.24);
}

.button:hover {
  background-color: #EE8B00 !important;
  color: white !important;
}

button:hover, .nav-link:hover {
  color: #EE8B00;
}

.header li a:hover,
.header .menu-btn:hover {
  color: #EE8B00;
}

#logo-icon {
  position: fixed;
  height: 30px;
  left: 25px;
  top: 17px;
}

.header .logo {
  display: block;
  float: left;
  font-size: 1.8em;
  font-weight: 600;
  margin-left: 40px;
  padding: 10px 20px;
  text-decoration: none;
  color: #EE8B00 !important;
}

.start-button {
  color: white !important;
  float: right;
}

.main-button{
  color: white !important;
  float: left;
  padding: 5px 2px;
  min-width:150px;

}

/* main content */
.main {
  padding: 50px 0px;
}





/* modal */
.modal-body form {
  text-align: center;
  margin-top: 10%;
}

/* typography */
input[type=button],
input[type=submit],
input[type=reset] {
  background-color: #EE8B00;
  border: none;
  color: white;
  padding: 10px 25px !important;
  margin-top: 10px;
  margin-right: 20px;
  margin-left: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.05s ease-in-out;
  -moz-transition: all 0.05s ease-in-out;
  -ms-transition: all 0.05s ease-in-out;
  -o-transition: all 0.05s ease-in-out;
  transition: all 0.05s ease-in-out;
}

input[type=button]:hover,
input[type=submit]:hover,
input[type=reset]:hover {
  background-color: #EE8B00;
}

input[type=button]:active,
input[type=submit]:active,
input[type=reset]:active {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

input[type=text],
input[type=color],
input[type=date],
input[type=password] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}


input[type=text]:focus {
  background-color: #fff;
  border-bottom: 2px solid #FBF3E6;
}

input[type=text]:placeholder {
  color: #cccccc;
}

#formFooter {
  text-align: center;
}

button,
button:hover,
button:active,
button:focus {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  box-shadow: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  margin: 20px 0px 0px 20px !important;
  outline: none;
}

button:hover, .nav-link:hover {
  color: #EE8B00;
}

/* footer */
footer {
  background-color: #FBF3E6;
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 3% 6%;
  display: flex !important;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

footer {
  padding: 3% 5%;
  color: #616161;
}

.footer-title {
  font-weight: 500;
  color: black;
}

.social-network {
  max-width: 50px;
  padding: 0% 3%;
}

#copyright {
  background-color: #ffffff;
  color: black;
  z-index: 1000;
  position: relative;
  width: 100%;
  height: 5%;
  bottom: 0;
  text-align: right;
  padding: 1% 2%;
}

/* landing */
.imgs {
  max-width: 30vw;
}

.landing {
  display: flex;
  padding: 60px 70px;
  margin-bottom: 60px;
}

.content {
  padding: 0% 5%;
}

.features {
  background-color: #FBF3E6;
  padding: 60px 60px 20px 50px;
  margin-bottom: 50px;
}

.feats {
  padding: 0% 10%;
}

.why-text {
  margin-bottom: 5%;
  margin-left: 5%;
  margin-right: 15%;
  color: #646464;
}

.why-txt {
  margin-left: 5%;
}

.why-list {
  padding-right: 14%;
}

.check-circle {
  width: 25px;
  margin-left: -35px;
  margin-right: 5px;
}

.tracker-img {
  max-width: 300px;
}

.tracker {
  padding: 10px 10px;
  margin-bottom: 0px;
}

/* --------------------- TASK PAGE HTML --------------- */

#h3task {
    margin-left: 5vw;
}
table th {
  color: #EE8B00;
  font-size: 15pt;
  padding-top: 7vh;
}

table {
  width: 53vw;
  color: dimgrey;
}

th, td {
  font-size: 13pt;
  padding: 10px;
}

table td:nth-child(3) {
  width: 8vw;
}

table td:last-child {
  width: 2vw;
}

#edit {
  width: 30px;
}

#type option:nth-child(even){background-color: #f2f2f2;}
#type option {
  font-size: 10pt;
  font-weight: bold;
  padding: 10px;
}
#type {
  margin-top: 5vh;
}
select {
  padding: 10px;
  width: 250px;
  color: grey;
  border-radius: 10px;
  outline: none;
}

#taskChangeModal .modal-dialog .modal-content{
  height: 50vh;
  border-radius: 10px;
}

#okTask {
  margin-top: 3vh;
}
/*# sourceMappingURL=main.css.map */
