{% extends "base-loggedin.html" %}
{% load static %}
{% block content %}

<div class="main">
    <div class="landing">
    <img src="{% static "imgs/first.svg"%}" class="imgs">
    <div class="content">
        <h1>Task Me Up!</h1>
        <button type="button" class="button main-button" data-toggle="modal" data-target="#createProjectModal">
            Create Project
        </button>
        <br>
        <button type="button" class="button main-button"> Open Project</a>
    </div>

        <!-- createProject modal -->
    <div class="modal fade" id="createProjectModal" tabindex="-1" role="dialog"
         aria-labelledby="createProjectModalLabel" aria-hidden="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <form method="POST">
                        {% csrf_token %}
                        <input type="text" id="project-name" class="fadeIn second" name="projectname"
                               placeholder="project name">
                        <input type="text" id="project-manager" class="fadeIn second" name="projectmanager" placeholder="project manager">
                        <input type="date" id="project-startdate" class="fadeIn third" name="startdate"  placeholder="start date dd/mm/yyyy">

                        <input type="date" id="project-enddate" class="fadeIn fourth" name="enddate"  placeholder="end date dd/mm/yyyy">
                        <br>
                        <input type="submit" name="create_project" class="fadeIn fourth" value="Create">
                        <br>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
</div>
</div>
{% endblock content %}