{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="main">
    <div class="landing">
        <img src="{% static "imgs/undraw_work_chat_erdt.svg"%}" class="imgs">
        <div class="content">
            <h1>Project Name</h1>
        <p>Project Manager:</p>
        <p>Start Date:</p>
        <p>End Date:</p>
        <br> <br>
        <button type="button" class="button start-button" data-toggle="modal" data-target="#addTaskModal">
            Add Task
        </button>
        <button type="button" href="#" class="button start-button">
            View RoadMap
        </button>
    </div>

        <!-- addTask modal -->
    <div class="modal fade" id="addTaskModal" tabindex="-1" role="dialog"
         aria-labelledby="addTaskModalLabel" aria-hidden="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <form method="POST">
                        {% csrf_token %}
                        <input type="text" id="task-name" class="fadeIn second" name="taskname"
                               placeholder="task name">
                        <input type="text" id="project-member" class="fadeIn second" name="taskmember" placeholder="assigned member">
                        <label for="task-deadline">Task Deadline:</label>
                        <input type="date" id="task-deadline" class="fadeIn third" name="deadline">
                        <br>
                        <label for="task-color">Color:</label>
                        <input type="color" id="task-color" class="fadeIn third" name="color">
                        <br>
                        <input type="submit" name="create_task" class="fadeIn fourth" value="Create">
                        <br><br>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
</div>
</div>

{% endblock content %}