{% extends "base-loggedin.html" %}
{% load static %}
{% block content %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet"/>

<div class="main">
    <div class="landing">
        <img src="{% static "imgs/first.svg"%}" class="imgs">
        <div class="content">



        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th colspan="2">Activity</th>
                    <th colspan="4" class="text-center">Set-20</th>
                    <th colspan="4" class="text-center">Out-20</th>
                    <th colspan="4" class="text-center">Nov-20</th>
                    <th colspan="4" class="text-center">Dez-20</th>
                    <th colspan="4" class="text-center">Jan-21</th>
                    <th colspan="4" class="text-center">Fev-21</th>
                    <th colspan="4" class="text-center">Mar-21</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="2">Prototype</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <div class="task passed" title="Task completed"></div>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="2">Research</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <div class="task passed" title="Task completed" data-length="10"></div>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <div class="task passed" title="Task completed" data-length="3"></div>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="2">Program</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>




        </div>
    </div>
</div>
    {% endblock content %}