/*fonts*/
$main-font-family: Roboto, sans-serif;
$main-font-size: 1rem;

/*color-theme*/
$main-orange: #EE8B00;
$light-orange: #FBF3E6;
$dark-gray: rgba(0,0,0,0.8);
$light-gray: rgba(0,0,0,0.6);

/*max-block-width*/
$max-block-width: 800px;