@use "reset";
@use "fonts";
@use "animations";
@import "vars";

body {
    margin: 0;
    font-family: Roboto, sans-serif;
    background-color: #ffffff;
}

a,
a:hover {
    color: #4b4b4b !important;
    text-decoration: none !important;
}

p {
    color: $light-gray !important;
}


/* header */

.header {
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .05);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
}

li {
    margin: 0;
    padding: 0;
    display: inline;
    list-style: none;
    background-color: #fff;
    padding: 0;
    margin: 20px 20px;
}

.nav-list li a {
    display: block;
    text-decoration: none;
}

.button {
    background-color: $main-orange;
    border: none;
    color: white;
    padding: 10px 25px !important;
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.24);
}

.button:hover {
    background-color: $main-orange !important;
    color: white !important;
}

button:hover, .nav-link:hover {
    color: $main-orange;
}

.header li a:hover,
.header .menu-btn:hover {
    color: $main-orange;
}

#logo-icon {
    position: fixed;
    height: 30px;
    left: 25px;
    top: 17px;
}

.header .logo {
    display: block;
    float: left;
    font-size: 1.8em;
    font-weight: 600;
    margin-left: 40px;
    padding: 10px 20px;
    text-decoration: none;
    color: $main-orange !important;
}

.start-button {
    color: white !important;
    float: right;
}

/* main content */

.main {
    padding: 50px 0px;
}

/* modal */
.modal-body form {
  text-align: center;
  margin-top: 10%;
}

/* typography */

input[type=button],
input[type=submit],
input[type=reset] {
  background-color: $main-orange;
  border: none;
  color: white;
  padding: 10px 25px !important;
  margin-top: 10px;
  margin-right: 20px;
  margin-left: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.05s ease-in-out;
  -moz-transition: all 0.05s ease-in-out;
  -ms-transition: all 0.05s ease-in-out;
  -o-transition: all 0.05s ease-in-out;
  transition: all 0.05s ease-in-out;
}

input[type=button]:hover,
input[type=submit]:hover,
input[type=reset]:hover {
  background-color: $main-orange;
}

input[type=button]:active,
input[type=submit]:active,
input[type=reset]:active {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

input[type=text],
input[type=password] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

input[type=text]:focus {
  background-color: #fff;
  border-bottom: 2px solid $light-orange;
}

input[type=text]:placeholder {
  color: #cccccc;
}

#formFooter {
  text-align: center;
}

button,
button:hover,
button:active,
button:focus {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    box-shadow: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    margin: 20px 0px 0px 20px !important;
    outline: none;
}

button:hover, .nav-link:hover {
    color: $main-orange;
}


/* footer */
footer {
    background-color: #f2f2f2;
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 3% 6%;
    display: flex !important;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

footer {
    padding: 3% 5%;
    color: #616161;
}

.footer-title {
    font-weight: 500;
    color: black;
}

.social-network {
    max-width: 50px;
    padding: 0% 3%;
}

#copyright {
    background-color: #ffffff;
    color: black;
    z-index: 1000;
    position: relative;
    width: 100%;
    height: 5%;
    bottom: 0;
    text-align: right;
    padding: 1% 2%;
}

/* landing */
.imgs {
    max-width: 30vw;
}

.landing {
    display: flex;
    padding: 60px 70px;
    margin-bottom: 60px;
}

.content {
    padding: 0% 5%;
}

.features {
    background-color: $light-orange;
    padding: 60px 60px 20px 50px;
    margin-bottom: 50px;
}

.feats {
    padding: 0% 10%;
}

.why-us {
}

.why-text {
  margin-bottom: 5%;
  margin-left: 5%;
  margin-right: 15%;
  color: #646464;
}

.why-txt {
  margin-left: 5%;
}

.why-list {
    padding-right: 14%;
}


.check-circle {
  width: 25px;
  margin-left: -35px;
  margin-right: 5px;
}

